{% extends "layout.html" %}
{% block content %}
    <h1 class="mt-5">All Books:</h1>
    <div class="flex-layout">
    {% for book in products %}
            <div class="card" style="width: 25%">
                <img src="{{ url_for('static', filename='images/' + book.ImageLink) }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{book.Title}}</h5>
                    <p class="text-muted">{{book.RetailPrice}}</p>
                    <p class="card-text">Here is a description of the book...</p>
                    <div class="text-center mx-auto mt-auto">
                        <a href="{{url_for('book_page', pid=book.ProductID)}}" class="btn">Order</a>
                    </div>
                </div>
            </div>
        

        
    {% endfor %}
</div>
{% endblock content %}

<!--<img src="{{ url_for('static', filename='images/' + products[0].ImageLink) }}" alt="" class="card-img-top">-->