{% extends "layout.html" %}
{% block content %}
    <!--Create Banner-->
    <div class="jumbotron jumbotron-fluid bg-warning rounded">
        <div class="container">
          <h1 class="display-4">Welcome to our Bookstore</h1>
          <h4>Take a look at our selection!</h4>
        </div>
      </div>
    <!--Create Cards-->
    <div class="row">
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 75%">
                <img src="{{ url_for('static', filename='images/'+products[0].ImageLink) }}" alt="" class="card-img-top">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{products[0].Title}}</h5>
                    <p class="text-muted">{{products[0].RetailPrice}}</p>
                    <p class="card-text"><p> As an American in London on vacation withTom Clancy reveals Jack Ryan's origins in this electrifying 
					#1 New York Times bestselling thriller that pits the former Marine turned family man against a vicious 
					group of international terrorists.</p>
                    <div class="text-center mx-auto mt-auto">
                        <a href="{{url_for('book_page', pid=0)}}" class="btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 75%">
                <img src="{{ url_for('static', filename='images/'+products[1].ImageLink) }}" alt="" class="card-img-top">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{products[1].Title}}</h5>
                    <p class="text-muted">{{products[1].RetailPrice}}</p>
                    <p class="card-text">Jack Ryan, Jr., will do anything for a friend, but this favor will be paid for in blood in the latest electric entry in the #1 New York Times bestselling series.</p>
					<div class="text-center mx-auto mt-auto">
                        <a href="{{url_for('book_page', pid=1)}}" class="btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 75%">
                <img src="{{ url_for('static', filename='images/'+products[6].ImageLink) }}" alt="" class="card-img-top">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{products[6].Title}}</h5>
                    <p class="text-muted">{{products[6].RetailPrice}}</p>
                    <p class="card-text">In Lois Lowry’s Newbery Medal–winning classic, twelve-year-old Jonas lives in a seemingly ideal world. Not until he is given his life assignment as the Receiver does he begin to understand the dark secrets behind his fragile community.</p>
                    <div class="text-center mx-auto mt-auto">
                        <a href="{{url_for('book_page', pid=6)}}" class="btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <h3>More of our Books:</h3>
        {% for book in products %}
            <p>{{ book.Title }}</p>
        {% endfor %}
    </div>
{% endblock content %}

