{% extends "layout.html" %}
{% block content %}
    <!--Create Banner-->
    <div class="jumbotron jumbotron-fluid bg-warning rounded">
        <div class="container">
          <h1 class="display-4">Welcome to our Bookstore</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate in arcu at blandit. Nam vel viverra sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        </div>
      </div>
    <!--Create Cards-->
    <div class="row">
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 75%">
                <img src="{{ url_for('static', filename='profile_pics/PatriotGames.jpg') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{products[0].Title}}</h5>
                    <p class="card-text">Here is a description of the book...</p>
                    <a href="#" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 75%">
                <img src="{{ url_for('static', filename='profile_pics/TargetAquired.jpg') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{products[1].Title}}</h5>
                    <p class="card-text">Here is a description of the book...</p>
                    <a href="#" class="btn">See More</a>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 75%">
                <img src="{{ url_for('static', filename='profile_pics/giver.jpg') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{products[6].Title}}</h5>
                    <p class="card-text">Here is a description of the book...</p>
                    <a href="#" class="btn">See More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <h3>More of our Books:</h3>
        {% for book in products %}
            <p>{{ book.Title }}</p>
        {% endfor %}
    </div>
{% endblock content %}