{% extends "layout.html" %}
{% block content %}
    <h1>Orders</h1>
    {% for order in orders %}
        <hr>
        <h1>{{current_user.email}}</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-info">Order # {{order.OrderID}}</h3>
                    <p><b>Title:</b> {{order.Title}}</p>
                    <p><b>Customer:</b> {{order.CustomerFirstName}} {{order.CustomerLastName}}</p>
                    <p><b>Quantity:</b> {{order.Quantity}}</p>
                    <p><b>Cost per item:</b> ${{order.RetailPrice}}</p>
                    <p><b>Publisher:</b> {{order.Name}}</p>
                </div>
                <div class="col">
                    <p><b>Ordered:</b> {{order.DateOfOrder}} <br> <b>Shipped:</b> {{order.ShippingDate}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}