{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
        <h1 class="mt-5">Shopping Cart:</h1>
        <hr>
    </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <div class="card">
            {% for item in titlelist %}
            <div class="" style="width:75%">
                <p class="p-3" style="width: 50%"> {{item }} </p>
            </div>

            {% endfor %}
            </div>
            <p> {{cartlist}} </p>
            <button class="btn btn-warning" type="button" onclick="window.location.href= '{{ url_for( 'checkout', titlelist = titlelist ) }}';">Order</button>
        </div>
    </div>
{% endblock content %}


